body{
   
}

/*
.side-info-bar {
    background-color: blanchedalmond;
}

.content-bar{
    background-color: aqua;
}

.main-info-section{
    background-color: lavender;
}

.section-header .title{
   
}

.section-header .line{
   
}